<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203275602799-pipjd4hdat0k5in0q3mgml1atgqsqv29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203275602799-pipjd4hdat0k5in0q3mgml1atgqsqv29</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLwedQe2MAyKpiOSgs4Efa7NbsMW0nto</string>
	<key>GCM_SENDER_ID</key>
	<string>203275602799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nagarro.Delivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-30583</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-30583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203275602799:ios:c9e7a8b5536c1d0f</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-30583.firebaseio.com</string>
</dict>
</plist>